<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Blok s titulkem stránky -->
    <title>{% block title %}LOL | Database{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Připojení externích CSS -->
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Načtení adresy statických souborů webu - musí být před prvním použití identifikátoru static -->
    {% load static %}
    <!-- Blok určený k připojování dalších externích stylů -->
    {% block css %}
    {% endblock %}
    <!-- Připojení vlastního CSS souboru umístěného ve struktuře složky static -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Navigační lišta -->
    {% block navbar %}
        {% include "navbar.html" %}
    {% endblock %}
    <!-- Záhlaví stránky -->
    <header>
        <div class="container px-4 px-lg-5">
        {% block header %}
        {% endblock %}
        </div>
    </header>
    <!-- Hlavní blok stránky -->
    <main>
        <div class="container-fluid">
            <!-- Zde bude vsunut blok s obsahem aktuální stránky -->
            {% block content %}{% endblock %}
        </div>
    </main>
    <!-- Zápatí stránky -->
    {% block footer %}
        {% include "footer.html" %}
    {% endblock %}
    <!-- Připojení externích JS knihoven -->
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <!-- Připravený blok pro vložení/připojení dalších skriptů podle potřeby jednotlivých stránek -->
    {% block scripts %}

    {% endblock %}
</body>
</html>