{% extends 'base.html' %}
{% load static%}
{% block title %} LOL | {{ champions_detail.name }} {% endblock title %}

{% block content %}

    <div class="container px-4 px-lg-5"> 
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0 shadow bg-body" src="{{ champions_detail.basicSkin.url }}" alt="{{ champions_detail.name}}" /></div>
            <div class="col-lg-5">
                <h1 class="fw-bold">{{ champions_detail.name }}</h1>
                <h5 class="fst-italic fw-normal">{{ champions_detail.title }}</h5>
                <p>{{ champions_detail.bio }}</p>
                <p class="fst-italic fw-normal text-center">"{{ champions_detail.quote }}" ~ {{champions_detail.name}} </p>
            </div>
        </div>
        <section class="text-center">
            <div class="container">
                <div class="row">
                    <!-- Region -->
                    <div class="col-lg-3">
                        <div class="mx-auto m-5">
                            <a href="{% url 'regions_detail' champions_detail.regionName.pk %}"><img src="{{ champions_detail.regionName.icon.url }}"/></a>
                            <h3>Region</h3>
                            <p class="lead mb-0">{{ champions_detail.regionName }}</p>
                        </div>
                    </div>
                    <!-- Role -->
                    <div class="col-lg-3">
                        <div class="mx-auto m-5">
                            <img style="width: 150px" src="{% static 'img/role.png' %}"/>
                            <h3>Role</h3>
                            <p class="lead mb-0">{{ champions_detail.role|capfirst }}</p>
                        </div>
                    </div>
                    <!-- Blue Essence -->
                    <div class="col-lg-3">
                        <div class="mx-auto m-5">
                            <img style="width: 150px" src="{% static 'img/be.png' %}"/>
                            <h3>Blue Essence</h3>
                            <p class="lead mb-0">{{ champions_detail.priceBe }}</p>
                        </div>
                    </div>
                    <!-- Release Date -->
                    <div class="col-lg-3">
                        <div class="mx-auto m-5">
                            <img style="width: 150px" src="{% static 'img/calendar.png' %}"/>
                            <h3>Release Date</h3>
                            <p class="lead mb-0">{{ champions_detail.releaseDate }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock content %}

