{% extends "base.html" %} {% block title %} List of Champions{% endblock %} 

{%block content %}
<div class="row mb-3">
  <div class="col-sm-12 bg-warning">
    <h2 class="display-4 text-center">List of Champions</h2>
  </div>
</div>
<div class="row">
  <!-- Postupné načtení filmů z proměnné films_list -->
  {% for champion in champions %}
  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
    <div class="card">
      {% if champion.basicSkin %}
      <img src="{{ champion.basicSkin.url }}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
      {% endif %}
      <div class="card-body">
        <!-- Odkaz ještě musí být doplněn o adresu stránky s detailem filmu -->
        <h4 class="card-title"><a href="{% url 'champions_detail' champion.pk %}">{{ champion.name }}</a></h4>
        <p class="card-text">
          {{ champion.regionName }}
        </p>
        <!-- Odkaz ještě musí být doplněn o adresu stránky s detailem filmu -->
        <a href="{% url 'champions_detail' champion.pk %}" class="btn btn-primary">More</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
