{% extends "base.html" %} 
{% block title %} LOL | Champions{% endblock %} 

{%block content %}
<div class="container">
<div class="row m-3">
  <div class="col-sm-12">
    <h2 class="display-3 text-center">List of all Champions!</h2>
  </div>
</div>
<div class="row">
  <!-- Postupné načtení championů z proměnné champions -->
  {% for champion in champions %}
  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
    <div class="card shadow mb-5 bg-body rounded">
      {% if champion.basicSkin.url %}
      <a href="{% url 'champions_detail' champion.pk %}"><img src="{{ champion.basicSkin.url }}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="{{ champion.name }}"></a>
      {% endif %}
      <div class="card-body">
        <h4 class="card-title"><a class="text-decoration-none text-dark" href="{% url 'champions_detail' champion.pk %}">{{ champion.name }}</a></h4>
        <h6 class="card-subtitle mb-2 text-muted">{{ champion.title }}</h6>
        <p class="card-text">
          {{ champion.bio|truncatewords:20 }}
        </p>
        <a href="{% url 'champions_detail' champion.pk %}" class="btn btn-primary">More</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>
{% endblock %}
